<!DOCTYPE html>
<html lang="en" ng-app="wordApp">
<head>
    <meta charset="UTF-8">
    <title>K5</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</head>
<body ng-controller="WordController as wordController">
<section class="hero is-info is-bold is-fullheight">
    <div class="hero-head">
        <div class="nav-center">
            <a class="nav-item" ng-click="wordController.page = 'add'">
                Add word
            </a>
            <a class="nav-item" ng-click="wordController.page = 'search'">
                Search words
            </a>
        </div>
    </div>

    {% block content %}

    {% endblock %}
</section>

<div class="notifications">
    <div class="notification is-{$ wordController.notification.type $}" ng-if="wordController.notification.show">
        <button class="delete" ng-click="wordController.hideNotification()"></button>
        {$ wordController.notification.message $}
    </div>
</div>

</body>
</html>