{% extends "base.html" %}

{% block content %}
    <div class="hero-body" ng-if="wordController.page === 'add'">
        <div class="container has-text-centered">
            <h1 class="title">
                Add a word
            </h1>
            <div class="form-container">

                <article class="message is-danger" ng-if="wordController.error.length > 0">
                    <div class="message-header">
                        <p><strong>Error</strong>!</p>
                    </div>
                    <div class="message-body">
                        {$ wordController.error $}
                    </div>
                </article>

                <div class="field">
                    <label class="label is-medium" for="word">Enter word</label>
                    <p class="control">
{#                        <input class="input is-medium" type="text" name="word" id="word" ng-model="wordController.word">#}
                        <angucomplete-alt id="word-select"
                            placeholder="Enter word"
                            pause="100"
                            selected-object="wordController.word"
                            local-data="wordController.words"
                            search-fields="word"
                            title-field="word"
                            minlength="1"
                            input-class="input is-medium"
                            override-suggestions="true"/>
                    </p>
                </div>
                <div class="field">
                    <label class="label is-medium" for="word">Add pronunciation audio file(.mp3)</label>
                    <p class="control">
                        <input type="file" name="audio_file" id="audio_file">
                    </p>
                </div>

                <hr>
                <div class="field">
                    <p class="control">
                        <button class="button is-info is-outlined is-inverted is-medium"
                                ng-click="wordController.save()">
                            Add word
                        </button>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="hero-body" ng-if="wordController.page === 'search'">
        <div class="container has-text-centered">
            <div class="word-container">
                <nav class="panel">
                    <p class="panel-heading">All words</p>
                    <div class="panel-block">
                        <p class="control has-icons-left">
                            <input class="input is-small" type="text" placeholder="Filter words" ng-model="wordController.searchText">
                            <span class="icon is-small is-left">
                                <i class="fa fa-search"></i>
                            </span>
                        </p>
                    </div>
                    <p class="panel-block word-block" ng-repeat="word in wordController.words | filter:wordController.searchText">
                        <span class="panel-icon" ng-click="wordController.playAudio(word.filename)">
                            <i class="fa fa-play-circle"></i>
                        </span>
                        {$ word.word $}
                    </p>
                </nav>
            </div>
        </div>
    </div>

{% endblock %}