{% extends "base.html" %}
{% block content %}
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">
                Search words
            </h1>
            <div class="form-container">
                <form action="" method="post" id="search_form">
                    {{ form.hidden_tag() }}
                    <div class="field">
                        <p class="control">
                            {{ form.keyword(class_="input is-medium", placeholder="Enter keyword") }}
                        </p>
                    </div>
                    <div class="field">
                        <p class="control">
                            <input type="submit" value="Search" class="button is-hidden is-success is-outlined is-inverted is-medium">
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% for word in words %}
        <p> {{ word.word }} - {{ word.filename }}</p>
    {% endfor %}
{% endblock %}